<div class="container">
  <h2 class="text-center">Employee List</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last name</th>
        <th>Email Id</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{employee.firstname}}</td>
        <td>{{employee.lastname}}</td>
        <td>{{employee.emailId}}</td>
        <td>
          <button class="btn btn-danger" (click)="updateEmployee(employee.id)">Update</button>
          <button class="btn btn-primary" (click)="deleteEmployee(employee.id)"
          style="margin-left:10px">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
